# Windows image file caches	# no backup files, editor temp
Thumbs.db	*~
ehthumbs.db	\#*

 *.bak

# Folder config file	
.idea/
Desktop.ini	

 # Recycle Bin used on file shares	
$RECYCLE.BIN/	

 # Windows Installer files	
*.cab	
*.msi	
*.msm	
*.msp	

 # =========================	
# Operating System Files	
# =========================	

 # OSX	
# =========================	

 .DS_Store	
.AppleDouble	
.LSOverride	

 # Icon must ends with two \r.	
Icon	


 # Thumbnails	
._*	

 # Files that might appear on external disk	
.Spotlight-V100	
.Trashes	

 less/	
*.less	
prepros.cfg