.work-title{
	margin: 0 0 20px 0;
}
.work-title sup{
    font-size: 16px;
}
.work-title sup .label{
    font-weight: normal;
}
#pw-image{
	padding: 1px;
	border: 1px solid #CCC;
	text-align: center;
}
#work-details{
	border-bottom: 2px solid #CCC;
    padding: 15px 0;
}
#work-details .work-data{
    border: 1px solid rgba(0,0,0,0.1);
}
#work-details .work-data > li{
    padding: 5px 10px;
}
#work-details .work-data .title{
    border-top: 1px solid rgba(0,0,0,0.1);
    font-weight: bold;
    padding-bottom: 0;
}
#work-details .work-data .title:first-child{
    margin-top: 0;
    border: 0;
}
#work-details .item-categories{
    padding-left: 20px;
}
#pw-details .pw_description{
	line-height: 130%;
	float: right;
	width: 63%;
}

#pw-details .pw_data table{
	border: 1px solid #CCC;
}
#pw-details .pw_data table td{
	padding: 3px;
	border-bottom: 1px dotted #CCC;
}
#pw-details .pw_data table tr:last-child td{
	border-bottom: 0;
}
#pw-customer-comment{
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	border-bottom: 2px solid #CCC;
	font-size: 1.6em;
	font-style: italic;
	text-align: center;
}
#pw-customer-comment span{
	display: block;
	margin: 5px 0 0 0;
	text-align: right;
	font-size: 0.7em;
}
#pw-work-images{
	overflow: hidden;
	padding: 0 0 10px 0;
	border-bottom: 2px solid #CCC;
}
#pw-work-images a{
	display: block;
	float: left;
	text-align: center;
	margin: 2px;
	text-decoration: none;
}
#pw-work-images a img{
	border: 1px solid #666;
	padding: 1px;
}
#pw-header{
	overflow: hidden;
	font-size: 0.9em;
	margin: 0 0 10px 0;
	text-align: right;
}

.works-grid{
	overflow: hidden;
	margin-bottom: 20px;
}
.works-grid a img{
	float: left;
	padding: 1px;
	border: 1px solid #CCC;
	margin: 0 10px 10px 0;
}
.works-grid h3{
	margin: 0 0 5px 0;
    font-weight: normal;
    font-size: 18px;
}
.works-grid .description{
	line-height: 150%;
	display: block;
	margin-bottom: 8px;
    font-size: 0.9em;
}
.works-grid .info{
	font-size: 0.85em;
}
.works-featured-label{
    font-size: 9px;
    font-weight: normal;
    text-transform: uppercase;
    background-color: #FF4400;
    padding: 2px 3px;
    color: #FFF;
    border-radius: 3px;
}
.pw-preview{
    padding: 5px;
    text-align: center;
    background: #FFFFE6;
    border: 1px solid #FFEFB9;
    margin-bottom: 10px;
}