.works-w-categories-container{
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.work-images{
    padding:5px 0 15px 0;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}
.work-images > span{
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 0 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 96px 96px;
    position: relative;
}
.work-images > span a{
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 1px; right: 1px;
    display: block;
    padding: 0 3px;
    background: #970000;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.4);
    border-radius: 0 0 0 3px;
}

#work-blocker{
    z-index: 1100;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,0.8);
    display: none;
}
#work-blocker-info{
    background: rgba(0,0,0,0.6);
    position: fixed;
    width: 400px;
    padding: 20px;
    top: 50%; left: 50%;
    margin-left: -220px;
    margin-top: -61px;
    z-index: 1101;
    border-radius: 3px;
    text-align: center;
    box-shadow: 1px 1px 1px rgba(255,255,255,0.05);
    display: none;
}
#work-blocker-info span{
    display: block;
    line-height: 30px!important;
    color: #FFF;
    font-size: 12px;
    background-image: url(../images/working.gif);
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 20px 0 0 0;
    margin-bottom: 10px;
    border-radius: 3px;
}
#work-blocker-info button:last-child{
    display: none;
}
#work-blocker-info button{
    margin: 0 3px
}
.work-error{
    color: #FF2333!important;
}